<!DOCTYPE html>
<html>

<head>
  <title>WateringCan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= params[:action]%>">

  <nav>
    <li class="nav-bar">
      <%= link_to('ALL HOMES', root_path, class: 'nav-link')%>
    </li>
  </nav>

  <main class="container">
    
  <%= yield %> 

  </main>



</body>
</html>
